---
layout: default
body-color: blue
---

<div class="col-lg-12">
  {% for post in site.posts limit:1 %}
    <div class="latest">
      <h2 class="text-center"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <br><small>{{ post.subtitle }}</small></h2>
      <p class="lead">{{ post.excerpt }}</p>
      <p><a href="{{ post.url }}" title="{{ post.title }}">Read more &raquo;</a></p>
    </div>
  {% endfor %}

  {% if site.posts.size > 1 %}
    <hr class="star-light">

    <div class="posts-list">
      {% for post in site.posts limit:5 offset:1 %}
        <div class="col-lg-12">
          <article>
            <div class="col-lg-2">
              <h5>{{ post.date | date: "%B %-d, %Y" }} <br><small>{{ post.category }}</small></h5>
            </div>
            <div class="col-lg-7 post">
              <h4><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br><small>{{ post.subtitle }}</small></h4>
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>