$colors: (
  seagreen: #18bc9c,
  lightblue: #3498db,
  coral: lightcoral,
  brightred: #e74c3c,
  mustard: #f39c12,
  slate: #1e2a36,
  darkgreen: #52BB67
);

@each $name, $value in $colors {
  body {
    &.#{$name} {
      header {
        background: $value;
      }

      h1, h2, h3, h4, h5, h6, p {
        a {
          color: $value;
        }
      }

      .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
        color: $value;
      }

      .pager a {
        background-color: $value;
      }
    }
  }
}