$seagreen: #18bc9c;
$lightblue: #3498db;
$coral: lightcoral;
$brightred: #e74c3c;
$mustard: #f39c12;
$slate: #1e2a36;

body {
  &.seagreen {
    header {
      background: $seagreen;
    }

    h1, h2, h3, h4, h5, h6, p {
      a {
        color: $seagreen;
      }
    }

    .pager a {
      background-color: $seagreen;
    }
  }

  &.blue {
    header {
      background: $lightblue;
    }

    h1, h2, h3, h4, h5, h6, p {
      a {
        color: $lightblue;
      }
    }

    .pager a {
      background-color: $lightblue;
    }
  }

  &.coral {
    header {
      background: $coral;
    }

    h1, h2, h3, h4, h5, h6, p {
      a {
        color: $coral;
      }
    }

    .pager a {
      background-color: $coral;
    }
  }

  &.brightred {
    header {
      background: $brightred;
    }

    h1, h2, h3, h4, h5, h6, p {
      a {
        color: $brightred;
      }
    }

    .pager a {
      background-color: $brightred;
    }
  }

  &.mustard {
    header {
      background: $mustard;
    }

    h1, h2, h3, h4, h5, h6, p {
      a {
        color: $mustard;
      }
    }

    .pager a {
      background-color: $mustard;
    }
  }

  &.slate {
    header {
      background: $slate;
    }

    h1, h2, h3, h4, h5, h6, p {
      a {
        color: $slate;
      }
    }

    .pager a {
      background-color: $slate;
    }
  }
}