
<div class="sections">
  <div class="row" style="height: 200px; background: #33363B; color: #cccccc;">
    <div class="container">
      <div class="col-lg-12">
        <p>this will be a fat footer with some extra information or 'cards'</p>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" style="background: #273A45; color: #cccccc;">
    <div class="container">
      <footer>
        <p class="text-center"><small>{{ site.author.tagline }}</small></p>
      </footer>
    </div>
  </div>
</div>

  {% include JB/analytics %}
  <script src="{{ RESOURCE_PATH }}/jquery/jquery.min.js"></script>
  <script src="{{ RESOURCE_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ RESOURCE_PATH }}/bootstrap/js/prism.js"></script>
</body>
</html>