<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kevin Quillen - Web Developer : code, rock, rant.</title>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/freelancer.css" rel="stylesheet" type="text/css">

  <!-- Fonts -->
  <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- IE8 support for HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="container">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header page-scroll">-->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#page-top"></a>-->
    <!--</div>-->

    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li class="hidden">-->
          <!--<a href="#page-top"></a>-->
        <!--</li>-->
        <!--<li class="page-scroll">-->
          <!--<a href="#portfolio">Portfolio</a>-->
        <!--</li>-->
        <!--<li class="page-scroll">-->
          <!--<a href="#about">About</a>-->
        <!--</li>-->
        <!--<li class="page-scroll">-->
          <!--<a href="#contact">Contact</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->